@model Author

@{
    ViewBag.PageTitle = "RJEEC - Author Details";
    var photoPath = "~/authorImages/" + (Model.PhotoPath ?? "noimage.jpg");
}

    <h2>Author Details</h2>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.FirstName @Model.LastName</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                <h4>Author ID : @Model.Id</h4>
                <h4>Email : @Model.Email</h4>
                <h4>Phone : @Model.Phone</h4>

            </div>
            <div class="card-footer text-center">
                <a class="btn btn-primary" href='javascript:history.go(-1)'>Back</a>
                <a asp-controller="author" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
</div>
