@model IEnumerable<Author>

@{
    ViewBag.PageTitle = "Author List";
}

<h3>@ViewBag.PageTitle</h3>

<a asp-controller="Author" asp-action="Create" class="btn btn-primary m-1" style="width:10em">New Author</a>


<div class="default card-deck">
    @foreach (var author in Model)
    {
        var photoPath = "~/authorImages/" + (author.PhotoPath ?? "noimage.jpg");
        <div class="card m-3 authorcard">
            <div class="card-header">
                <h3>@author.FirstName @author.LastName</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Author" asp-action="Details" asp-route-id="@author.Id" class="btn btn-primary m-1">View</a>
                <a asp-controller="Author" asp-action="Edit" asp-route-id="@author.Id" class="btn btn-primary m-1">Edit</a>
            </div>
        </div>
    }
</div>

