@inject SignInManager<IdentityUser> SignInManager
@model Article
<div class="articlecard card m-3">
    <div class="card-header">
        <h3>@Model.Title</h3>
    </div>
    @if (!String.IsNullOrEmpty(Model.Authors))
    {
        <h6 style="margin:1em 2em">Authors: @Model.Authors</h6>
    }


<div class="card-footer">
    @if (SignInManager.IsSignedIn(User) && (User.Identity.Name == Model.contactAuthor?.Email || User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Editor")))
    {
        <a asp-controller="Article" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary m-1">View</a>
    }

    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Editor"))
    {
        <a asp-controller="Article" asp-action="Review" asp-route-id="@Model.Id" class="btn btn-primary m-1">Review</a>
    }
    @*<a asp-controller="Article" asp-action="Read" asp-route-articleId="@Model.Id" asp-route-id="@Model.Title" class="btn btn-primary m-1">Read</a>*@
    <a asp-controller="Article" asp-action="Read" asp-route-id="@Model.Id" class="btn btn-primary m-1">Read</a>
    <a asp-controller="Article" asp-action="DownloadFile" asp-route-fileName="@Model.Documents.FirstOrDefault(d => d.Type == DocumentType.ArticleContent)?.DocumentPath" asp-route-subfolder="articles" asp-route-title="@Model.Title" class="btn btn-primary" style="width:10em">Download</a>
    @if (!String.IsNullOrWhiteSpace(Model.Description))
    {
        <button type="button" class="collapsibleAbs btn btn-primary" style="width:10em">Read Abstract</button>
        <div class="content">
            @Model.Description
        </div>
    }
</div>
</div>