@model ArticleDetailsViewModel

@{
    ViewBag.PageTitle = "RJEEC - Article Page";
}

    <form class="mt-3" enctype="multipart/form-data" asp-controller="article" asp-action="details" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Id" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Title" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <textarea asp-for="Title" class="form-control" readonly></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <textarea asp-for="Description" class="form-control" readonly></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Authors" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <textarea asp-for="Authors" class="form-control" readonly></textarea>
            </div>
        </div>
        <h3>Correspondent Author</h3>

        <div class="form-group row">
            <label asp-for="AuthorFirstName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-3">
                <input asp-for="AuthorFirstName" class="form-control" readonly>
            </div>
            <span class="col-sm-1"></span>
            <label asp-for="AuthorLastName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input asp-for="AuthorLastName" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="AuthorEmail" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="AuthorEmail" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="AuthorOrcidId" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="AuthorOrcidId" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="AuthorResearcherId" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="AuthorResearcherId" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Status" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                @foreach (var status in Enum.GetValues(typeof(ArticleStatus)))
                {
                    if ((int)status != 0)
                    {
                        <label class="col-sm-10 col-form-label">
                            <input asp-for="Status" type="radio" value="@status" class="form-control col-sm-2" style="display: inline-block; height:1.2rem" disabled />
                            @status
                        </label>
                    }
                }
            </div>
        </div>


        @for (int i = 0; i < Model.ExistingReviewerDecisionFileName.Count(); i++)
        {
            <div class="form-group row col-sm-12">
                @*<a asp-controller="Home" asp-action="DownloadFile" asp-route-fileName="@Model.ExistingReviewerDecisionFileName[i]" asp-route-subfolder="reviewerDecision">Download Reviewer @(i + 1) Suggestions</a>*@
                <a asp-controller="Home" asp-action="DownloadFile" asp-route-fileName="@Model.ExistingReviewerDecisionFileName[i].DocumentPath" asp-route-subfolder="reviewerDecision">@Model.ExistingReviewerDecisionFileName[i].DocumentName</a>
            </div>
        }


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Will be published</label>
            <div class="form-group row col-sm-9">
                <label asp-for="MagazineVolume" class="col-sm-2 col-form-label text-right"></label>
                <div class="col-sm-2">
                    <input asp-for="MagazineVolume" class="form-control" readonly>
                </div>
                <label asp-for="MagazineNumber" class="col-sm-1 col-form-label text-right"></label>
                <div class="col-sm-2">
                    <input asp-for="MagazineNumber" class="form-control" readonly>
                </div>
                <label asp-for="MagazinePublishingYear" class="col-sm-2 col-form-label text-right"></label>
                <div class="col-sm-3">
                    <input asp-for="MagazinePublishingYear" class="form-control" readonly>
                </div>
            </div>
        </div>
        <partial name="_ArticleDocuments" model="@Model.DocumentsForArticle" />

        @if (Model.Status != ArticleStatus.Published || User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Editor"))
        {
            <h4>Upload a new version of the article or additional documents, if needed:</h4>
            <div class="form-group row">
                <label asp-for="@Model.ArticleContentNewDoc" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <div class="custom-file">
                        <input asp-for="@Model.ArticleContentNewDoc" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                    <span asp-validation-for="@Model.ArticleContentNewDoc" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.AdditionalDoc1" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <div class="custom-file">
                        <input asp-for="@Model.AdditionalDoc1" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                    <span asp-validation-for="@Model.AdditionalDoc1" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="@Model.AdditionalDoc2" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <div class="custom-file">
                        <input asp-for="@Model.AdditionalDoc2" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                    <span asp-validation-for="@Model.AdditionalDoc2" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary mr-2" style="width:30em;">SUBMIT THE NEW DOCUMENTS</button>
                <a class="btn btn-primary" href='javascript:history.go(-1)'>Back</a>
            </div>
        }
        else
        {
            <div class="form-group row">
                <a class="btn btn-primary" href='javascript:history.go(-1)'>Back</a>
            </div>
        }

        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });
            </script>
        }
    </form>
