@model IEnumerable<Article>

@{
    ViewBag.PageTitle = "Article List";
}

<h3>@ViewBag.PageTitle</h3>

<div class="card-deck">
    @foreach (var article in Model)
    {
        <div class="articlecard card m-3">
            <div class="card-header">
                <h3>@article.Title</h3>
            </div>
            <h4>Author: @article.Authors</h4>
            <div class="card-footer">
                <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary m-1">View</a>
                <a asp-controller="Article" asp-action="Review" asp-route-id="@article.Id" class="btn btn-primary m-1">Review</a>
                <a asp-controller="Article" asp-action="Read" asp-route-id="@article.Id" class="btn btn-primary m-1">Read</a>
                <a asp-controller="Article" asp-action="DownloadFile" asp-route-fileName="@article.Documents.FirstOrDefault(d => d.Type == DocumentType.ArticleContent)?.DocumentPath" asp-route-subfolder="articles" asp-route-title="@article.Title" class="btn btn-primary" style="width:150px">Download</a>
            </div>
        </div>
    }
</div>

