@model ArticleReadViewModel

@{
    ViewBag.PageTitle = "RJEEC - Article";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h2>@Model.Title</h2><br/>
                @if (!String.IsNullOrWhiteSpace(Model.Authors))
                {
                    <h5>Authors: @Model.Authors</h5><br />
                }
                @if (!String.IsNullOrWhiteSpace(Model.KeyWords))
                {
                    <h6>Keywords: @Model.KeyWords</h6>
                }
            </div>

            <div class="card-body text-justify">
                <p>@Model.Description</p>
                <iframe id="iframepdf" name="iframepdf" style="height:50em;width:100%" src="~/articles/@Model.Doc"></iframe>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-primary" href='javascript:history.go(-1)'>Back</a>
                <a asp-controller="Article" asp-action="DownloadFile" asp-route-fileName="@Model.Content" asp-route-subfolder="articles" asp-route-title="@Model.Title" class="btn btn-primary" style="width:10em">Download</a>
            </div>
        </div>
    </div>
</div>

