@model Event

@{
    ViewBag.PageTitle = "Event Details";
}

<h3>@ViewBag.PageTitle</h3>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/noimage.jpg" asp-append-version="true" />

                <h4>Date : @Model.Date</h4>
                <h4>Location : @Model.Location</h4>
                <p>@Model.Description</p>

            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
