@model IEnumerable<Event>
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewBag.PageTitle = "Events";
}

<h3>@ViewBag.PageTitle</h3>

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
{
    <a asp-controller="Event" asp-action="Create" class="btn btn-primary m-1" style="width:10em">New Event</a>
}

<div class="event card-deck">
    @foreach (var ev in Model)
    {
        var photoPath = "~/eventImages/" + ((ev.EventPhotos != null && ev.EventPhotos.Count > 0) ? ev.EventPhotos[0].PhotoPath : "noimage.jpg");
        <div class="eventcard card m-3">
            <div class="card-header">
                <h3>@ev.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <form asp-action="Delete" asp-route-id="@ev.Id" method="post">
                    <a asp-controller="Event" asp-action="Details" asp-route-id="@ev.Id" class="btn btn-primary m-1">View</a>
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
                    {
                        <a asp-controller="Event" asp-action="Edit" asp-route-id="@ev.Id" class="btn btn-primary m-1">Edit</a>

                        <div id="confirmDeleteSpan_@ev.Id" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@ev.Id', false)">No</a>
                        </div>

                        <span id="deleteSpan_@ev.Id">
                            <a href="#" class="btn btn-danger"
                               onclick="confirmDelete('@ev.Id', true)">Delete</a>
                        </span>
                    }
                </form>
            </div>
        </div>
    }
</div>

